#titolo {
width: 120px;
font-weight: 130px;
margin-left: 100px;
}

#background {
    background-color: aqua;
    background-image: url("./img/pattern.png");
    background-size: contain;
    }
.centratolayout {
text-align: center
}
.grigio {
    color: gray;
}
.celeste {
    color: rgb(59, 199, 241);
    }

.sottolineato { 
    text-decoration: underline 
    }
#center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
table {
  background-color: rgb(0, 162, 255);
  }
  tr { 
    color: aqua;
  }
